@charset "utf-8";

html[data-theme="dark"] body {
  background-color: #1e1e1e;
  color: #fff;
}

html[data-theme="dark"] header .hamberger_menu span {
  background-color: #fff;
}

html[data-theme="dark"] header .hamberger_menu span::after,
html[data-theme="dark"] header .hamberger_menu span::before {
  background-color: #fff;
}

html[data-theme="dark"] header .gnb .login {
  background-image: url(../images/icon_login_w.svg);
}

html[data-theme="dark"] header .gnb .basket {
  background-image: url(../images/icon_cart_w.svg);
}

html[data-theme="dark"] aside {
  background-color: #1e1e1e;
}

html[data-theme="dark"] aside a {
  color: #fff;
}

html[data-theme="dark"] aside a::after {
  background-color: #fff;
}

html[data-theme="dark"] aside .x_btn {
  background-image: url(../images/icon_close_w.svg);
}

html[data-theme="dark"] section h2 {
  color: #fff;
}

html[data-theme="dark"] .artist h2 a {
  color: #fff;
}

html[data-theme="dark"] .artist .art_list li a,
html[data-theme="dark"] .ceramic .caeramic_list li a {
  color: #fff;
}

html[data-theme="dark"] .artist .more_btn a {
  border-color: #fff;
  color: #fff;
}

html[data-theme="dark"] .artist .more_btn a:hover {
  background-color: #fff;
  color: #333;
}

html[data-theme="dark"] footer a,
html[data-theme="dark"] footer span {
  color: #fff;
}

html[data-theme="dark"] #theme_btn {
  background-color: #333;
  background-image: url(../images/ico_day_white.png);
}

html[data-theme="dark"] #theme_btn:hover {
  background-color: #fff;
  background-image: url(../images/ico_day.png);
}

html[data-theme="dark"] footer .sns_icon .insta {
  background-image: url(../images/icon_sns_i_W.svg);
}

html[data-theme="dark"] footer .sns_icon .facebook {
  background-image: url(../images/icon_sns_f_w.svg);
}

html[data-theme="dark"] footer .sns_icon .youtube {
  background-image: url(../images/icon_sns_y_w.svg);
}

@media only screen and (max-width: 1200px) {
  html[data-theme="dark"] aside {
    background-color: #333;
  }
}
