@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.wrap {
  /* padding: 0 4rem; */
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 4rem;
  width: 80%;
}

header {
  position: static;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  margin: 6rem 0;
}

header .hamberger_menu {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

header .hamberger_menu span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000;
  transition: all 0.3s;
}

header .hamberger_menu span::after,
header .hamberger_menu span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s;
}

header .hamberger_menu span::before {
  bottom: 8px;
}

header .hamberger_menu span::after {
  top: 8px;
}

header .gnb {
  display: flex;
}

header .gnb a {
  display: block;
  width: 24px;
  height: 24px;
  background: no-repeat center / cover;
}

header .gnb .login {
  background-image: url(../images/icon_login.svg);
  margin-right: 2rem;
}

header .gnb .basket {
  background-image: url(../images/icon_cart.svg);
}

/* //header */

aside {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 6rem;
  width: 0;
  height: 100vh;
  background-color: #fff;
  font-size: 1.6rem;
  overflow: hidden;
  z-index: 99;
  transition: all 0.5s;
}

aside h2 a {
  white-space: nowrap;
  margin-left: 4rem;
  font-weight: 700;
}

aside .side_nav {
  margin-left: 4rem;
  margin: 3rem 0;
}

aside .side_nav li {
  padding: 0.8rem 0;
}

aside a {
  margin-left: 4rem;
  position: relative;
  color: #000;
}

aside a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: all 0.5s;
}

aside a:hover::after {
  width: 100%;
}

aside .x_btn {
  position: absolute;
  top: 6rem;
  right: 4rem;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* //aside */

section {
  margin: 8rem 0;
}

section h2 {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

section ul li a img {
  margin-bottom: 1.6rem;
}

section .back_img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s;
  opacity: 0;
}

section .mouse_event {
  position: relative;
}

section .mouse_event:hover .back_img {
  opacity: 1;
}

section .title a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .title .right_btn {
  background: url(../images/icon_next.svg) no-repeat 50% 50% / cover;
  width: 24px;
  height: 24px;
}

.artist h2 a {
  color: #000;
}

.artist .art_list,
.ceramic .caeramic_list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.artist .art_list li {
  margin-bottom: 4rem;
  width: 32%;
}

.artist .art_list li a,
.ceramic .caeramic_list li a {
  display: block;
  font-size: 1.6rem;
  color: #000;
}

.artist .more_btn {
  position: relative;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}

.artist .more_btn a {
  display: block;
  float: right;
  width: 140px;
  height: 50px;
  border: 2px solid #000;
  line-height: 50px;
  color: #000;
}

.artist .more_btn a:hover {
  background-color: #000;
  color: #fff;
}

.ceramic .caeramic_list li {
  width: 32%;
}

footer {
  position: relative;
  font-size: 1.4rem;
}

footer a,
footer span {
  margin-right: 1rem;
  color: #000;
}

footer .f_menu {
  display: flex;
  margin-bottom: 1.2rem;
}

footer .f_menu .inline {
  display: flex;
}

footer .f_menu .inline li:last-child a {
  margin-right: 3rem;
}

footer .f_menu .f_service {
  margin-right: 2rem;
}

footer .block {
  display: block;
  margin-top: 1.2rem;
}

footer .f_company_data {
  margin-bottom: 6rem;
}

footer .f_company_data span > a {
  margin: 0;
}

footer .f_company_data span > a:hover {
  text-decoration: underline;
}

footer .sns_icon {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

footer .sns_icon a {
  display: block;
  width: 24px;
  height: 24px;
  background: no-repeat center / cover;
}

footer .sns_icon .insta {
  background-image: url(../images/icon_sns_i.svg);
}

footer .sns_icon .facebook {
  background-image: url(../images/icon_sns_f.svg);
}

footer .sns_icon .youtube {
  background-image: url(../images/icon_sns_y.svg);
}

@media only screen and (max-width: 1200px) {
  .wrap {
    width: 100%;
    padding: 0 4rem;
  }

  header {
    align-items: center;
  }

  header h1 {
    order: 2;
  }

  header h1 img {
    width: 80px;
  }

  header .gnb {
    order: 3;
  }

  aside {
    /* display: none; */
  }

  footer .f_menu {
    flex-direction: column;
  }

  footer .f_menu .f_service {
    margin: 1rem 0;
  }

  footer .f_company_data > span:nth-child(3) {
    display: block;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .wrap {
    padding: 0 1.5rem;
  }

  .artist .art_list li {
    width: 48%;
  }

  footer .f_menu {
    display: flex;
    flex-direction: column;
  }
}
